
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Movie Angular Example </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menu" [ngClass]="{ 'visible': showLinks }">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="currentUrl">Profile</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>